aiosignal==1.3.1
argcomplete==3.1.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.9
boto3==1.26.162
botocore==1.29.162
cachelib==0.9.0
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
cfn-flip==1.3.0
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.4
confection==0.0.4
contourpy==1.0.6
cryptography==41.0.1
cycler==0.11.0
cymem==2.0.7
deep-translator==1.11.4
dill==0.3.6
durationpy==0.5
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl#sha256=b492fd2dfeee931dd60232fd1a122bb5c3542ebcd5d614f11844647050aa539e
filelock==3.12.2
Flask==2.2.2
Flask-Caching==2.0.2
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
googletrans==3.0.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hjson==3.1.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.15.1
hyperframe==5.2.0
idna==2.10
importlib-metadata==5.0.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kappa==0.6.0
kiwisolver==1.4.4
langcodes==3.3.0
lingua-language-detector==1.3.2
lit==16.0.6
lxml==4.9.2
MarkupSafe==2.1.1
marshmallow==3.19.0
matplotlib==3.7.1
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging==23.1
pandas==2.0.2
pathos==0.3.0
pathy==0.10.2
Pillow==9.5.0
placebo==0.9.0
pox==0.3.2
ppft==1.7.6.6
preshed==3.0.8
psutil==5.9.5
pycparser==2.21
pydantic==1.10.9
PyExecJS==1.5.1
pyparsing==3.1.0
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
PyYAML==6.0
regex==2022.10.31
requests==2.31.0
rfc3986==1.5.0
s3transfer==0.6.1
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
sympy==1.12
text-unidecode==1.3
thinc==8.1.10
threadpoolctl==3.1.0
tokenizers==0.13.3
toml==0.10.2
torch==2.0.1
tqdm==4.65.0
transformers==4.30.2
translators==5.7.6
triton==2.0.0
troposphere==4.3.2
typer==0.7.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
wasabi==1.1.2
Werkzeug==2.2.2
xx-sent-ud-sm @ https://github.com/explosion/spacy-models/releases/download/xx_sent_ud_sm-3.5.0/xx_sent_ud_sm-3.5.0-py3-none-any.whl#sha256=bbc9c66216e1232e144c33bf525afab525ff0e276850fd0c75762f73a7edb6b8
yarl==1.9.2
zappa==0.57.0
zipp==3.10.0
